@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

:root {
  --color-background: #F6FAFF;
  --color-menu-background: #555759;
  --color-white: #FFFFFF;
  --color-dark: #000000;
  --color-blue: #007BFF;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  flex-direction: row;
  background-color: var(--color-background);
  height: 100vh;
  width: 100%;
}


/* Menu Lateral */
aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 13rem;
  background-color: var(--color-menu-background);
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 2;

}

aside div img {
  width: 6rem;
  cursor: pointer;
}

aside div {
  margin: 2rem 1.5rem ;
  margin-left: -10px;
}


ul {
  list-style-type: none;
  
}

li > a {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0rem 0.4rem;
  border-radius: 10px;
  color: var(--color-white);
}

li > a:hover {
  text-decoration: none;
  background-color: var(--color-blue);
  color: var(--color-white);
}


li > a > span { 
  margin: 0.6rem 0px;
  padding: 0.3rem;
  
}

.logout {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  width: 100%;
}

.logout button {
  margin-left: 2rem;
  padding: 0.6rem 1rem;
  font-size: 0.9rem;
  border-radius: 10px;
  border: 1px;
}

/* Conteudo principal */
main {
  z-index: 1;
  margin-left:12rem;
  width: 100%;
  padding: 2rem;
}
/*titulo CLIENTES*/
h1 {
  color: var(--color-dark);
}

.pages{
 list-style: none;
 margin: 1.8rem 0rem 2.5rem;
}

.pages a{
  position: relative;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: var(--color-dark);
  letter-spacing: 0.2em;
}

.pages a::before {
  content: '';
  position: absolute;
  bottom: -2px;
  width:100%;
  height: 2px;
  background: var(--color-menu-background);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right ;
}

.pages a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}